@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$goodPosition: #cfeee1;
$wrongPosition: #fff3d5;
$wrong: #fff;

body {
    font-family: "Nunito";
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        display: flex;
        align-items: center;
        color: #379696;
    }
}

.wordle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__line {
        display: flex;
        gap: 1rem;
    }

    &__letter {
        width: 64px;
        height: 64px;
        border: 1px solid rgba($color: #263954, $alpha: 0.16);
        border-radius: 0.25rem;

        &:first-child {
            background-color: $goodPosition;
        }

        &:nth-child(2) {
            background-color: $wrongPosition;
        }

        &:nth-child(3) {
            background-color: $wrong;
        }
    }
}

.keyboard {
    margin-top: 2rem;
    display: grid;
    grid-gap: 0.5rem;
    justify-content: center;

    &__line {
        display: flex;
        justify-self: flex-end;
        gap: 0.5rem;
    }
    &__key {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid rgba($color: #263954, $alpha: 0.16);
        border-radius: 0.25rem;
        font-weight: 700;
        font-size: 1.5rem;

        &:hover {
            background-color: rgba($color: #000, $alpha: 0.05);
        }

        &.enabled {
            background-color: rgba($color: #000, $alpha: 0.05);
        }
    }
}

.keyboard__switch-container {
    display: flex;
    justify-content: center;

    .keyboard__switch {
        background-color: #171717;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        color: #fafafa;
    }
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

    form div {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.5rem;
        }

        input {
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            text-align: center;
        }

        button {
            background-color: #cfeee1;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            color: #171717;
            font-weight: 700;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                color: #FAFAFA;
                background-color: #379696;
            }
        }
    }
}

.background-icon {
    z-index: -10;
    position: absolute;
    right: 0;
    bottom: 0;
}
